#sidebar {
  position: relative;
  width: 60px;
  height: 100%;
  float: left;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  a {
    width: 100%;
    float: left;
    margin-bottom: 35px;
    svg {
      width: 35px;
      height: auto;
    }
  }
}
