@import "../Variables.scss";

#preview {
  margin-top: 82px;
  width: 100%;
  height: 100%;
  max-height: 75vh;
  position: relative;
  border-radius: 20px;
  .iframe {
    position: relative;
    width: 100%;
    min-width: 400px;
    height: 100%;
    background: #fff;
    border-radius: 20px;
    .preview-toggle {
      width: 50px;
      height: 50px;
      background: #fff;
      border-radius: 50px;
      line-height: 50px;
      text-align: center;
      opacity: 0;
      display: inline-block;
      z-index: 2;
      cursor: pointer;
      box-shadow: 0 0 10px $primaryColor;
      position: absolute;
      top: 50%;
      left: -15px;
      transform: translate(0, -50%);
      transition: all 0.2s ease-in;
      svg {
        width: 30px;
        height: auto;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
      }
    }
    &:hover {
      .preview-toggle {
        opacity: 1;
      }
    }
  }
}

.component-tabs {
  position: relative;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  .component-tab {
    width: 33.33%;
    display: inline-block;
    background: transparent;
    border: 0;
    outline: none;
    line-height: 20px;
    font-size: 15px;
    cursor: pointer;
    color: $secondaryColor;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      height: 4px;
      max-width: 50%;
      width: 0%;
      background: $tertiaryColor;
      border-radius: 10px;
      bottom: -10px;
      left: 50%;
      transform: translate(-50%, 0);
      transition: all 150ms ease-in;
    }
    &[aria-selected="true"] {
      &:after {
        width: 100%;
      }
    }
  }
}
.components {
  height: 90%;
  max-height: 77vh;
  outline: none;
  overflow-y: scroll;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 20px 0;
  position: relative;
  .template-component {
    width: calc(50% - 30px);
    border-radius: 20px;
    cursor: pointer;
    margin: 0 15px 15px 15px;
    height: auto;
    padding-bottom: 25%;
    background: #fff;
    float: left;
    transition: transform 0.15s ease-in;
    &:hover {
      transform: scale(1.05);
    }
  }
}
