@import "./static/fonts/lato.scss";
@import "./Variables.scss";

body {
  background: $primaryColor;
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 0.4em;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  cursor: pointer;
}

#main-content {
  position: relative;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding-top: 60px;
}

#main-choice,
#main-preview {
  position: relative;
  height: 100%;
  float: left;
  width: calc(50% - 30px);
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  box-sizing: border-box;
  padding: 0 20px;
  &.collapsed {
    width: calc(20% - 30px);
    overflow: hidden;
  }
  &.expanded {
    width: calc(80% - 30px);
    .template-component {
      width: calc(33.33% - 30px);
    }
  }
}

.main-headings {
  font-family: $fontFamily;
  font-weight: bold;
  font-size: 30px;
  line-height: 1;
  color: $secondaryColor;
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}
